/*Only use this file if you want to override bootstrap or create your own style*/
.sameheight{
    max-height: 200px
}
.btn-red{
    background-color: red;
    border: none;
}
.btn-green{
    background-color: green;
    border: none;
}
.btn-yellow{
    background-color: yellow;
    border: none;
    color: black;
}
.btn-purple{
    background-color: purple;
    border: none;
}
.img-height{
    max-height: 100px
}
body{
    background: url(http://bin.smwcentral.net/u/15090/Donkey%2BKong%2BCountry%2B0003.png) no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    width: auto;
}
.background{
    color: white
}